APP_NAME=Course AI API

AI_PROVIDER=lmstudio

GEMINI_API_KEY=
GEMINI_MODEL_NAME=gemini-1.5-flash

LMSTUDIO_BASE_URL=http://localhost:1234/v1
LMSTUDIO_MODEL_NAME=local-model

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=